li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #808080;
}
a:hover {
    text-decoration: none;
    color: #000000;
}
#mount-poin {
    height: 100%;
}
.App {
    height: 100%;
}
.text-bold {
    font-weight: bold;
}

@media (max-width: 576px) {
    
   
}

@media (min-width: 768px) {

    .navbar-right {
        font-size: 1.15em;
    }
    .navbar-brand > img {
        height: 40px;
    }
    
   
}

@media (min-width: 992px) {
    .navbar-right {
        font-size: 1.4em;
    }
    .navbar-brand > img {
        height: 60px;
    }
    .navbar-brand {
        padding: 5px 10px;
    }
    
    
}

@media (min-width: 1200px) {
    .navbar-right {
        font-size: 1.5em;
    }
   
    
}
