#contacts .fill{
    height: 90vh;
}
#contacts a {
    color: black;
}
#contacts ul {
    padding-left: 0;
}
@media screen and (max-width: 1250px) {
    #contacts iframe {
        height: 100%;
        width: 100%;
    }
}
